* {
	box-sizing: border-box;
}

html {
		font-size: 62.5%;
}



body {
		background-image: url("../images/naturalblack.png");
		margin-bottom: 7.0rem;
		font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
				font-family: 'Baloo Bhaina', cursive;
}

h1 {
		color: white;
		text-shadow: 0.2rem 0.2rem red;
		
}

h2, h3 {
			color: teal;
}

p, button {
		font-family: 'Raleway', sans-serif;
		z-index: 2;
}


.teal {
			background-color: teal;
}

.white {
			background-color: white;
			z-index: 1;
			margin-top: 0rem;
}

.topBuffer { margin-top:2.0rem; 
}

.bottomBuffer {
				margin-bottom: 2.0rem;
}

.redBorder {
				border-bottom: 0.5rem;
				border-style: solid;
				border-color: red;

}
.socialMediaLinks {
					    width: 5.0rem;
    					height: 5.0rem;
    					
}

.profileImage {
				margin: 1.0rem 1.5rem 0.2rem 0rem;
}

#aboutMeText {
				margin-top: 1.5rem;
}

.portfolioImage {
					margin-left: 1rem;
					
}		


.portThumbs {
    text-align:center;
}

.portThumbs > img {
    display: inline-block;
    *display:inline; /* ie7 fix */
    float: none; /* this is the part that makes it work */
}	


footer {
			/*border-top: 5px;
			border-left: 0px;
			border-right: 0px;
			border-bottom: 0px;
			border-style: solid;
			border-color: #eee;*/
			height: 5.5rem;
			color: white;
			background-color: #666;

}

.tealBorder {
				border-top: 0.5rem;
				border-style: solid;
				border-color: teal;
}

/*.captionStyle {
			font-family: 'Baloo Bhaina', cursive;
			color: #fff;
			background-color: teal;
			
			font-size: 2vw;
			padding-top: 5px;
			border-radius: 5px;

}*/

a {
		text-decoration: none;
}
.pfTags {
			background-color: teal;
			font-family: 'Baloo Bhaina', cursive;
			font-size: 2vw;
			color: #fff;
			
}

div.pfTags:hover {
					text-decoration: none;
					color: teal;
					background-color: white;
}

div.pfTags:active {
					text-decoration: none;
					color: red;
					background-color: white;
}
.thumbnail {
    border: 0 none;
    box-shadow: none;
}