/*CSS stylesheet*/
* {
		box-sizing: border-box;
  		margin: 0;

}
html {
  				height: 100%;

}

body {
		background-image: url(../images/naturalblack.png);
		font-size: 13.666px;
		height: 100%;
}

h1, h2, h3 {
				font-family: 'Baloo Bhaina', cursive;

}

h2, h3 {
		color: teal;
		font-size: 25px;
}

h2 {
		padding-bottom: 10px;
}
h3 {
		text-align: center;
		padding: 10px;
		
}

a {
	float: right;
	margin: 40px 5px 5px 5px;
	font-family: "Ariel", "Helvetica Neue", Helvetica, sans-serif;
	color: #666;
	text-decoration: none;
}

.container {
			margin: 0 auto;
			width: 960px;
			


			
}


.nameBar {
			
			float: left;
			display: inline;
			margin-left: 75px;

}

.name {
		color: #fff;
		background-color: teal;
		text-align: center;
		padding-top: 18px;
		padding-bottom: 12px;
		padding-left: 20px;
		padding-right: 20px;
		font-family: 'Baloo Bhaina', cursive;
		font-size: 41px;
		text-shadow: 2px 2px red;

}

.navBar {
			float: right;
			display: inline;
			width: 270px;
			height: 65px;
			


}



li {
		font-size: 20px
		

}


.navStyle {
			background-color: #fff;
}

#navStyle {
			background-color: #ffffff;
			border-width: 4px;
			border-color: red;
			border-style: solid;
			border-top: 0px;
			border-left: 0px;
			border-right: 0px;
			clear: both;
			height: 75px;
			width: 100%;
			margin: 0px 75px 0px 0px;
			float: left;

}

.red {
		color: red;
}

a.red:hover {
				color: red;
}


#fixed {
			width: 960px;
}

.contentBox {
				width: 960px;
				float: left;
				margin-top: 25px;
				

}

.aboutMe {
			width: 68%;
			float: left;
			background-color: #fff;
}

.aboutMeImage {
				float: left;
				margin: 10px 20px 20px 0px;
}


.contactBox {
				width: 270px;
				height: 140px;
				float: right;
				background-color: #fff;
				position: relative;
			

}
				
.contactBox:after {
					clear: both;
					display: block;
}

#contactStyle {
				margin: 10px 0px 0px 0px;

}

.contactHR {	
				margin-left: 20px;
				margin-right: 20px;
}

.sidebarImage {
				width: 50px;
				height: 50px;
				margin: 5%;
				position: absolute;
				left: 16px;
				bottom: 3px;
}

#linkedIn,
#stackOverflow,
#gitHub {
			position: absolute;
}

#gitHub {
			left: 15px;
			top: 58px;
}

#linkedIn {
			left: 97px;
			top: 57px;
}

#stackOverflow {
					left: 179px;
					top: 56px;
}

.copyrightBar { clear: both;
				text-align: center;
				background-color: #666;
				padding-top: 20px;
				padding-bottom: 20px;
				font-family: "Ariel", "Helvetica Neue", Helvetica, sans-serif;
				border-width: 5px;
				border-style: solid;
				border-color: teal;
				border-left: 0px;
				border-right: 0px;
				border-bottom: 0px;
				width: 100%;
				height: 60px;

}

.portfolioImages {
					margin-left: 35px;
					z-index: 1;
					position: relative;


}

.pfTags {
			width: 270px;
			padding: 15px 0px 10px 0px;
			background-color: teal;
			font-family: 'Baloo Bhaina', cursive;
			font-size: 25px;
			text-align: center;
			color: #fff;
			z-index: 2;
			position: absolute;
}

div.pfTags:hover {
					color: teal;
					background-color: white;
}

div.pfTags:active {
					color: red;
					background-color: white;
}

#hangman, 
#rpg, 
#trivia, 
#rutgers, 
#rock {
			z-index: 2;
			position: absolute
}

#hangman { 
			bottom: 396px;
			right: 307.5px; 
}

#rpg {
		bottom: 396px;
		left: 273.4px;
}

#trivia {
			bottom: 214px;
			right: 307.5px;
			
}

#rutgers {
			bottom: 214px;
			left: 273.4px;
}

#rock {
			bottom: 32px;
			right: 307.5px;

			
}
p {
	font-family: "Ariel", "Helvetica Neue", Helvetica, sans-serif;
	color: #777;
	font-size: 15px;
	margin-top: 15px;
}


article, form {	
			padding: 20px 20px;
}

#contactForm{
				padding: 20px 20px;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -60px; 
}
.page-wrap:after {
  content: "";
  display: block;
  height: 60px;
}
