/*CSS Style*/

.title {
			color: #799cd1;
			background: #000;
			width: 100%;
		}

body {
		font-size: 13px;
}
h1 {
	
		font-size: 30px;
}

h2 {
		font-size: 25px;
}

h3 {
		font-size: 20px;
}

#sharkHorse {
		margin: 0 auto;
		width: 500px;
		height: 400px;
		display: inline;
		float: left;
	
		
}

aside {
		float: left;
		background-color: #293342;
		display: inline;
		clear: both;
		
}

#lists {	
			
			text-align: center;
			padding-left: 20px;
			padding-right: 20px;
			background-color: #253e63;
			margin: 15px;
			
		
}